fastapi
uvicorn[standard]
jinja2
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-text-splitters

chromadb
sentence-transformers
transformers
torch

docx2txt
pypdf
pdf2image
pytesseract
pillow
ddgs
gunicorn
